
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
	padding: 20px;
	margin: 0px;
	font-family: 'Dosis', sans-serif;


}

h1 {
	font-size: 70px;
	text-align: center;
	color: #d02f10;

}


p { 
	text-align: center;
	font-size: 30px;
}


#genquotebutton {
	background-color: white;
	padding: 30px;
	font-size: 16px;
	border: 2px solid #d02f10;
	border-radius: 80%;
	

}
#genquotebutton:active {
	color: black;
}

.numbers {
	margin: 20px;

}


